

img{
    border-radius: 8px;
}
/* button{
    border-radius: 8px;   
    background-color:aliceblue;
} */

.small-photo{
    border: 5px;
    border-width: 3px;
    border-color:black;
    border-style: solid;
}
.small-photo-red{
    border: 5px;
    border-width: 3px;
    border-color:red;
    border-style: solid;
}


#little-image{
    object-fit: cover;
}

body{
    background-color: blanchedalmond;
    font-family:fantasy;
}

#main-title{
    position:relative;
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#second-title{
    position:relative;
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-image{
    position:relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}