

img{
    border-radius: 8px;
}
button{
    border-radius: 8px;   
    background-color:aliceblue;
}
#little-image{
    object-fit: cover;
}

body{
    background-color: blanchedalmond;
    font-family:fantasy;
}

#main-title{
    position:relative;
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#second-title{
    position:relative;
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-image{
    position:relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}